@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 188 95% 90%;
    --foreground: 195 91% 16%;
    --card: 188 95% 95%;
    --card-foreground: 195 91% 16%;
    --popover: 188 95% 95%;
    --popover-foreground: 195 91% 16%;
    --primary: 188 88% 64%;
    --primary-foreground: 195 91% 16%;
    --secondary: 188 95% 85%;
    --secondary-foreground: 195 91% 16%;
    --muted: 188 95% 85%;
    --muted-foreground: 195 91% 26%;
    --accent: 63 92% 65%;
    --accent-foreground: 63 92% 15%;
    --destructive: 351 100% 83%;
    --destructive-foreground: 0 0% 98%;
    --border: 188 88% 80%;
    --input: 188 88% 85%;
    --ring: 188 88% 64%;
    --radius: 0.5rem;
    --sidebar-background: 195 91% 10%;
    --sidebar-foreground: 188 95% 85%;
    --sidebar-primary: 188 88% 64%;
    --sidebar-primary-foreground: 195 91% 10%;
    --sidebar-accent: 63 92% 65%;
    --sidebar-accent-foreground: 63 92% 15%;
    --sidebar-border: 195 91% 15%;
    --sidebar-ring: 188 88% 64%;
  }
  .dark {
    --background: 195 50% 10%;
    --foreground: 0 0% 98%;
    --card: 195 50% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 195 50% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 188 88% 64%;
    --primary-foreground: 195 91% 16%;
    --secondary: 195 30% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 195 30% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 63 92% 65%;
    --accent-foreground: 63 92% 15%;
    --destructive: 351 80% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 30% 15%;
    --input: 195 30% 20%;
    --ring: 188 88% 64%;
    --sidebar-background: 195 50% 5%;
    --sidebar-foreground: 0 0% 85%;
    --sidebar-primary: 188 88% 64%;
    --sidebar-primary-foreground: 195 91% 10%;
    --sidebar-accent: 63 92% 65%;
    --sidebar-accent-foreground: 63 92% 15%;
    --sidebar-border: 195 50% 12%;
    --sidebar-ring: 188 88% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
