@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 60% 95%; /* Freeze Purple: #e5eaf5 */
    --foreground: 270 36% 52%; /* Purple Pain: #8458B3 */
    --card: 220 60% 95%; /* Freeze Purple: #e5eaf5 */
    --card-foreground: 270 36% 52%; /* Purple Pain: #8458B3 */
    --popover: 220 60% 95%; /* Freeze Purple: #e5eaf5 */
    --popover-foreground: 270 36% 52%; /* Purple Pain: #8458B3 */
    --primary: 202 72% 77%; /* Ice Cold: #a0d2eb */
    --primary-foreground: 270 36% 22%; /* Darker Purple Pain */
    --secondary: 261 48% 86%; /* Medium Purple: #d0bdf4 */
    --secondary-foreground: 270 36% 22%; /* Darker Purple Pain */
    --muted: 349 14% 77%; /* Heavy Purple: #a28089 */
    --muted-foreground: 349 14% 47%; /* Darker Heavy Purple */
    --accent: 261 48% 86%; /* Medium Purple: #d0bdf4 */
    --accent-foreground: 270 36% 22%; /* Darker Purple Pain */
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 60% 85%; /* Lighter Freeze Purple */
    --input: 220 60% 90%; /* Lighter Freeze Purple */
    --ring: 202 72% 77%; /* Ice Cold: #a0d2eb */
    --radius: 0.5rem;
    --sidebar-background: 270 36% 32%;
    --sidebar-foreground: 220 60% 95%;
    --sidebar-primary: 202 72% 77%;
    --sidebar-primary-foreground: 270 36% 22%;
    --sidebar-accent: 261 48% 86%;
    --sidebar-accent-foreground: 270 36% 22%;
    --sidebar-border: 270 36% 42%;
    --sidebar-ring: 202 72% 77%;
  }
  .dark {
    --background: 270 36% 15%; /* Dark Purple Pain */
    --foreground: 220 60% 95%; /* Freeze Purple */
    --card: 270 36% 15%; /* Dark Purple Pain */
    --card-foreground: 220 60% 95%; /* Freeze Purple */
    --popover: 270 36% 15%; /* Dark Purple Pain */
    --popover-foreground: 220 60% 95%; /* Freeze Purple */
    --primary: 261 48% 86%; /* Medium Purple: #d0bdf4 */
    --primary-foreground: 270 36% 12%; /* Darker Purple Pain */
    --secondary: 349 14% 27%; /* Dark Heavy Purple */
    --secondary-foreground: 220 60% 95%; /* Freeze Purple */
    --muted: 349 14% 27%; /* Dark Heavy Purple */
    --muted-foreground: 349 14% 67%;
    --accent: 202 72% 77%; /* Ice Cold: #a0d2eb */
    --accent-foreground: 270 36% 12%; /* Darker Purple Pain */
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 349 14% 27%; /* Dark Heavy Purple */
    --input: 349 14% 32%;
    --ring: 261 48% 86%; /* Medium Purple: #d0bdf4 */
    --sidebar-background: 270 36% 10%;
    --sidebar-foreground: 220 60% 95%;
    --sidebar-primary: 261 48% 86%;
    --sidebar-primary-foreground: 270 36% 12%;
    --sidebar-accent: 202 72% 77%;
    --sidebar-accent-foreground: 270 36% 12%;
    --sidebar-border: 270 36% 15%;
    --sidebar-ring: 261 48% 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
